@{
    ViewData["Title"] = "Home Page";
}

<br />
<div>
    @for (int i = 0; i < 15; i++) {
    <div class="globalNote">
        <h1>DE00000054548712AA1</h1>
        <div>lorem ipsum .....</div>        
        <div>
            <img src="~/images/8091-1.png" class="signature"/>
        </div>        
        <div>
            <img src="~/images/logo__0000_boerse1.jpg" />
        </div>
        <footer>&copy; GlobalNotes 2018</footer>            
        <div class="break"></div>
    </div>
    <div class="globalNote">
        <h1>DE00000054548712AA11</h1>
        <div>lorem ipsum .....</div>
        <div>
            <img src="~/images/8091-1.png" class="signature" />
        </div>
        <div>
            <img src="~/images/logo__0000_boerse1.jpg" />
        </div>
        <footer>&copy; GlobalNotes 2018</footer>
        <div class="break"></div>
    </div>
    <div class="globalNote">
        <h1>GB0000002645545645</h1>
        <div>lorem ipsum ..</div>
        <div>
            <img src="~/images/8091-1.png" class="signature" />
        </div>
        <div>
            <img src="~/images/logo__0000_boerse1.jpg" />
        </div>
        <footer>&copy; GlobalNotes 2018</footer>
        <div class="break"></div>
    </div>
    }
</div>


